<div class=" p-8 bg-black-2">
    <form [formGroup]="signInForm" class="w-3/6 m-8 ml-auto mr-auto">
    <div class="form_box flex items-center justify-center bg-transparent border border-yellow-300 rounded py-12 px-4 sm:px-6 lg:px-8 text-black bg-black">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto w-auto" src="../../../assets/images/logorythmode.png">
                <!-- <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Crea tu cuenta
                </h2> -->
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="name" class="sr-only">Nombre</label>
                        <input id="name" name="name" type="text" autocomplete="name" required
                            [formControl]="signInForm['controls'].name"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Nombre">
                    </div>
                    <div>
                        <label for="surname" class="sr-only">Apellidos</label>
                        <input id="surname" name="surname" type="text" autocomplete="surname" required
                            [formControl]="signInForm['controls'].surname"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Apellidos">
                    </div>
                    <div>
                        <label for="tlfn" class="sr-only">Teléfono</label>
                        <input id="tlfn" name="tlfn" type="tlfn" autocomplete="tlfn" required
                            [formControl]="signInForm['controls'].tlfn"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Teléfono">
                    </div>
                    <div>
                        <label for="address" class="sr-only">Dirección</label>
                        <input id="address" name="address" type="address" autocomplete="address" required
                            [formControl]="signInForm['controls'].address"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Dirección">
                    </div>
                    <div>
                        <label for="email" class="sr-only">Email address</label>
                        <input id="email" name="email" type="email" autocomplete="email" required
                            [formControl]="signInForm['controls'].email" [pattern]="emailPattern"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Email address">
                    </div>

                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            [formControl]="signInForm['controls'].password"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Password">
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <!-- <div class="flex items-center">
                        <input id="remember_me" name="remember_me" type="checkbox"
                            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                            Remember me
                        </label>
                    </div> -->

                    <!-- <div class="text-sm">
                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Forgot your password?
                        </a>
                    </div>-->

                    <div *ngIf="signInForm.invalid && (signInForm.dirty || signInForm.touched)" class="alert alert-danger mt-2">
                        <div>
                            Por favor rellena todos los campos
                        </div>
                    </div>
                    
                </div> 


                
                <div>
                    <button type="submit" (click)="submitSignUpForm()" [disabled]="!signInForm.valid"
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 duration-200 border border-black">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <!-- Heroicon name: solid/lock-closed -->
                            <svg class="h-5 w-5 text-yellow-400 group-hover:text-yellow-200 duration-200"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        Registrarse
                    </button>
                </div>
            </form>
        </div>
    </div>
</form>
</div>