<section style="height: 90vh;">
	<video style="z-index: 0; height: 100%; object-fit: cover; width: 100%;" src="../../../../assets/pruebavideoweb.mp4" muted autoplay nocontrols loop></video>
	<div class="bg-transparent text-white py-20"style="z-index: 1; position: absolute; top: 0;">
		<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
			<div class="flex flex-col w-full lg:w-1/3 justify-center items-start p-8">
				<h1 class="text-3xl md:text-5xl text-yellow-300 tracking-loose p-text-title"><u>RhythMode</u></h1>
				<h2 class="text-3xl md:text-5xl leading-relaxed md:leading-snug mb-2">Comparte tu arte
				</h2>
				<p class="text-sm md:text-base text-gray-50 mb-4 p-text text-gray-100">Explora la música urbana de
					millones de personas, valórala,
					y ayúdales a crecer dentro de la industria musical.
				</p>
				<a href="/sign-in"
					class="bg-transparent duration-200 hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
					Registrarse</a>
			</div>
			<div class="p-8 mt-12 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-12 lg:w-2/3  justify-center">
				<div class="h-48 flex flex-wrap content-center">
					<!-- <div>
						<img class="inline-block ml-18 mt-8 h-48"
							src="../../../../assets/images/logorythmode.png">
					</div>		 -->
				</div>
			</div>
		</div>
	</div>
</section>