<a name="scrolleable-info"></a>
<section data-aos="zoom-in" data-aos-duration="1500">
    <div class="bg-black text-white py-8 p-text">
    <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
      <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
        <p class="ml-2 text-yellow-300 uppercase tracking-loose">Como subir tu canción</p>
        <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Sube tu canción a la web</p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          Aqui tienes una guia con los pasos necesarios para formar parte de RhythMode, y subir tus canciones a la plataforma de forma totalmente gratuita!
        </p>
        <a href="#"
        class="bg-transparent duration-200 mr-auto hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
        Sube tu canción</a>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">Paso 1</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Registrate</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Introduce los datos en el formulario de registro y crea tu cuenta en menos de 1 minuto, con ella podrás subir canciones y valorar el resto!
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">Paso 2</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Sube tu canción</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Entra en la sección de subir video en la cabecera de la web. Rellena el formulario con el título, descripción y sube tu video a nuestra web. (Nada de videos con copyright)
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300"> Paso 3</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Vota en el resto de videos</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                    RhythMode funciona según los gustos de nuestros consumidores, vosotros sois quienes elegís si os gusta o no el video que os mostraremos en la sección de "Explorar", y sereis
                    quienes hagan que los artistas puedan entrar en la sección de destacados.
                </p>
              </div>
            </div>

            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>

              <div class="order-1  w-5/12 px-1 py-4">
                <p class="mb-3 text-base text-yellow-300">Extras</p>
                <h4 class="mb-3 font-bold  text-lg md:text-2xl text-left">Disfruta y comunícanos tus ideas</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Estamos abiertos a colaborar con cualquier persona que tenga alguna sugerencia para mejorar RhythMode, os dejamos a vuestra disposición un formulario de contacto para enviarnos mensajes!
                </p>
              </div>
            </div>
          </div>
          <img class="mx-auto -mt-36 md:-mt-36" src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
        </div>
      </div>
    </div>
  </div>
  </section>