<div class="inline-block font-mono text-3xl ml-8 p-text text-white rounded border border-yellow-300 p-16">
    <p class="text-yellow-300 p-text-title">INFORMACIÓN DE USUARIO</p>
    <table>
        <tr>
            <td>Nombre:</td>
            <td class="px-4">Ismael</td>
        </tr>
        
        <tr>
            <td>Apellidos:</td>
            <td class="px-4">Flores</td>
        </tr>
        
        <tr>
            <td>Username:</td>
            <td class="px-4">izmochu</td>
        </tr>
        
        <tr>
            <td>Contraseña:</td>
            <td class="px-4">***********</td>
        </tr>
        
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>