<section class="text-black body-font bg-yellow-300 p-text" data-aos="fade-right" data-aos-duration="1500 ">
    <div class="container mx-auto flex px-5 py-12 md:flex-row flex-col items-center">
      <!-- <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
      </div> -->
      <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="p-text-title sm:text-4xl text-3xl mb-4 font-medium"><u>{{hero1.title}}</u></h1>
        <p class="mb-8 leading-relaxed">{{hero1.body}}</p>
        <div class="flex justify-center">
          <a [href]="hero1.link" class="bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg mr-2 mt-2 mb-2 py-2 px-4 border duration-200 border-black hover:border-transparent">{{hero1.button_text}}</a>
        </div>
      </div>
    </div>
  </section>