<div class="sm:flex flex-wrap justify-center items-center text-center gap-8 bg-black pl-24 py-16" data-aos="fade-left" data-aos-duration="1500">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 bg-black border-yellow-300 shadow-lg rounded-lg border hover-bot p-text">
        <div class="flex-shrink-0">
            <div class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-transparent text-white">
                <img src="../../../../assets/images/cards/microfono.png">
            </div>
        </div>
        <h3 class="text-white p-text font-bold dark:text-white">
            <u>Graba tu música</u>
        </h3>
        <p class="text-md  text-white dark:text-white py-4">
            Sube tus canciones a RhythMode para compartirlas con el resto de artistas y darte a conocer en la industria musical.
        </p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 border border-yellow-300 bg-black shadow-lg rounded-lg hover-bot p-text">
        <div class="flex-shrink-0">
            <div class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-transparent text-white">
                <img src="../../../../assets/images/cards/auriculares.png">
            </div>
        </div>
        <h3 class="text-white p-text font-bold dark:text-white">
            <u>Descubre nuevos artistas</u>
        </h3>
        <p class="text-md text-white dark:text-white py-4">
            Escucha distintos temas de cantantes de todo el mundo y de cualquier género, y vota si te gusta o no.
        </p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4  px-4 py-4 bg-black border border-yellow-300 shadow-lg rounded-lg hover-bot p-text">
        <div class="flex-shrink-0">
            <div class="flex items-center mx-auto justify-center h-12 w-12 rounded-md bg-transparent text-white">
                <img src="../../../../assets/images/cards/valoracion.png">
            </div>
        </div>
        <h3 class="text-white p-text font-bold dark:text-white">
            <u>Valora al resto</u>
        </h3>
        <p class="text-md  text-white dark:text-white py-4">
            Ayuda a que los mejores artistas puedan entrar en destacados votando en la sección de explorar!
        </p>
    </div>
</div>