<section class="text-gray-600 body-font bg-black-2 p-text">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-bold p-text-title mb-2 text-yellow-300">LAS CANCIONES DESTACADAS</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-100">Escucha los temas mejor valorados por vosotros.</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500 p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/HaYhQCjL8r4" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500  p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/9BG5ZE8ilc0" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500  p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/mWWD5pYRjD4" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500  p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/oLFH2dzI6GQ" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500  p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/GoN7N9FnH1c" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-black bg-black hover:bg-yellow-300 duration-500  p-6 rounded-lg">
                    <iframe autoplay id="video" class="shadow" width="426" height="240"
                        src="https://www.youtube.com/embed/7Q1luOdSCKY" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <button
            class="flex mx-auto mt-16 text-black border-0 py-2 px-8 focus:outline-none rounded bg-yellow-300 duration-200 hover:bg-black text-black border border-black hover:text-yellow-300 rounded shadow ">Siguiente</button>
    </div>
</section>