@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~aos/dist/aos.css";
@import "~ng-swipe-card/style/styles";
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FCD34D;
  }

body{
  background-color: black;
  overflow-x: hidden;
}

.p-text {
  font-family: 'Roboto Condensed', sans-serif!important;
  font-size: 18px;
  line-height: 26px;
  }
  
.p-text-title{
    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 36px!important;
    line-height: 52px!important;
}
    
.bg-black-2{
background-color:#0f0f0f;
}