<div class="flex h-screen bg-black-2 items-center justify-center  mt-4 mb-4 p-text">
    <div class="grid bg-black rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/2 border border-yellow-300 bg-black ">
      <div class="flex justify-center py-4">
        <!-- <div class="flex bg-purple-200 rounded-full md:p-4 p-2 border-2 border-yellow-300 bg-black">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path></svg>
        </div> -->
      </div>
  
      <div class="justify-center m-8">
        <div class="">
          <h1 class="font-bold md:text-2xl text-xl p-text-title text-gray-200" style="text-align: center;">Sube tu canción</h1>
        </div>
        <p class="text-gray-400"> En RhythMode tienes dos formas de subir tus canciones. Puedes subir tu música directamente a nuestra web,
            en este caso, debes rellenar todos los campos del formulario excepto la URL de la canción. Si lo prefieres,
            puedes subir tu canción directamente desde Youtube, insertando la url del iframe en el campo de "Url de la canción".
        </p>
      </div>
  
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-yellow-300">Titulo</label>
        <input class="py-2 px-3 rounded-lg border-2 text-white border-yellow-300 bg-black mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:border-transparent " type="text" placeholder="Titulo" />
      </div>
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mt-5 mx-7">
        <div class="grid grid-cols-1">
          <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-yellow-300">Autor</label>
          <input class="py-2 px-3 rounded-lg border-2 border-yellow-300 bg-black mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:border-transparent " type="text" placeholder="Autor" />
        </div>
        <div class="grid grid-cols-1">
          <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-yellow-300">Tags</label>
          <input class="py-2 px-3 rounded-lg border-2 border-yellow-300 bg-black mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:border-transparent " type="text" placeholder="Tags" />
        </div>
      </div>
  
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-yellow-300">Formato</label>
        <select class="py-2 px-3 rounded-lg border-2 border-yellow-300 bg-black mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:border-transparent  text-gray-400">
          <option class="text-white">MP4</option>
          <option class="text-white">MP3</option>
          <option class="text-white">WAV</option>
        </select>
      </div>
  
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-yellow-300">URL de la canción</label>
        <input class="py-2 px-3 rounded-lg border-2 border-yellow-300 bg-black mt-1 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:border-transparent " type="text" placeholder="URL de la canción" />
      </div>
  
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold mb-1 text-yellow-300">Upload Video</label>
          <div class='flex items-center justify-center w-full'>
              <label class='flex flex-col border-4 border-dashed border-yellow-300 w-full h-32 hover:bg-gray-900 hover:border-gray-400 bg-black group'>
                  <div class='flex flex-col items-center justify-center pt-7'>
                    <svg class="w-10 h-10 text-yellow-300 group-hover:text-yellow-300 text-yellow-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                    <p class='lowercase text-sm text-gray-400 group-hover:text-yellow-300 pt-1 tracking-wider text-yellow-300'>Select a video</p>
                  </div>
                <input type='file' class="hidden" />
              </label>
          </div>
      </div>
  
      <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
        <button class="bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg mr-2 mt-2 mb-2 py-2 px-4 border duration-200 border-black hover:border-transparent">Subir</button>
      </div>
  
    </div>
  </div>