<footer class="bg-black text-white body-font">
    <div
        class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <p class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg> -->
                <span class="text-xl text-yellow-300">RhythMode</span>
            </p>
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <!-- <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Categorías</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-yellow-300 hover:text-gray-800" href="/validez-legal">Validez certificados</a>
                    </li>
                    <li>
                        <a class="text-yellow-300 hover:text-gray-800" href="/certificados">Certificar</a>
                    </li>
                    <li>
                        <a class="text-yellow-300 hover:text-gray-800" href="/informacion">Información</a>
                    </li>
                </nav>
            </div> -->
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                <nav class="list-none mb-10">
                    <li>
                        <p class="text-yellow-300">Nombre comercial: <span class="text-yellow-200">RhythMode SL</span></p> 
                    </li>
                    <li>
                        <p class="text-yellow-300">CIF/NIF: <span class="text-yellow-200"> B99428401</span></p> 
                    </li>
                    <li>
                        <p class="text-yellow-300">Domicilio fiscal: <span class="text-yellow-200">C/ Coso 33, planta 3, oficinas s-t</span></p> 
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"></h2>
                <nav class="list-none mb-10">
                    <li>
                        <p class="text-yellow-300">País: <span class="text-yellow-200">España</span></p> 
                    </li>
                    <li>
                        <p class="text-yellow-300">Teléfono: <span class="text-yellow-200">627362832</span></p> 
                    </li>
                    <li>
                        <p class="text-yellow-300">Email: <span class="text-yellow-200">ismaelflores@RhythMode.es</span></p> 
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3 text-yellow-300">Políticas de la web</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-yellow-300 hover:text-gray-800" href="/aviso-legal">Validez legal</a>
                    </li>
                    <li> 
                        <a class="text-yellow-300 hover:text-gray-800" href="/terminos-condiciones">Términos y
                            condiciones</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
</footer>