<header class="text-gray-400 body-font bg-black p-text">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="mx-auto h-12 w-auto" src="../../../../assets/images/logorythmode.png">
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-gray-100">Inicio</a>
        <a href="/explore" class="mr-5 hover:text-gray-100">Explorar</a>
        <a href="/feature"class="mr-5 hover:text-gray-100">Destacados</a>
        <a href="/upload-song" class="mr-5 hover:text-gray-100">Subir canción</a>
        <a href="#scrolleable-info" class="mr-5 hover:text-gray-100">Cómo subir tu canción?</a>
        <a href="#contact-form" class="mr-5 hover:text-gray-100">Contacto</a>
      </nav>
      <div>
          <a class="bg-transparent hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 m-2 px-4 border border-yellow-300 hover:border-transparent duration-200" href="/sign-in">Entrar</a>
          <a class="bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg py-2 m-2 px-4 border border-yellow-300 hover:border-transparent duration-200" href="/sign-up">Registro</a>
      </div>
    </div>
  </header>