<div class="bg-black-2 p-8 min-h-screen">
<form [formGroup]="signInForm" class="w-3/6 m-8 ml-auto mr-auto">
    <div class="flex items-center justify-center bg-black rounded py-12 border border-yellow-300 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto w-auto" src="../../../assets/images/logorythmode.png">
                <!-- <h2 class="mt-6 text-center text-3xl p-text-title text-yellow-300">
                    ENTRA EN TU CUENTA
                </h2> -->
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="email" class="sr-only">Email address</label>
                        <input id="email" name="email" type="email" autocomplete="email" required
                            [formControl]="signInForm['controls'].email" [pattern]="emailPattern"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Email address">
                    </div>

                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input id="password" name="password" type="password" autocomplete="current-password" required
                            [formControl]="signInForm['controls'].password"
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                            placeholder="Password">
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <!-- <div class="flex items-center">
                        <input id="remember_me" name="remember_me" type="checkbox"
                            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                            Remember me
                        </label>
                    </div> -->

                    <!-- <div class="text-sm">
                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Forgot your password?
                        </a>
                    </div>-->

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-2">

                        <div *ngIf="email.errors.required">
                            Por favor introduce un correo electrónico
                        </div>
                        <div *ngIf="email.errors.pattern">
                            Por favor introduce un correo electrónico válido (example@example.com)
                        </div>
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-2">

                        <div *ngIf="password.errors.required">
                            Por favor introduce una contraseña
                        </div>
                    </div>
                </div> 


                
                <div>
                    <button type="submit" (click)="submitSignInForm()"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 duration-200 border border-black">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <!-- Heroicon name: solid/lock-closed -->
                            <svg class="h-5 w-5 text-yellow-400 group-hover:text-yellow-200 duration-200"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</form>
</div>