<a name="contact-form"></a>
<section class="text-white body-font relative py-8 bg-black-2 p-text">
  <form class="gform" [formGroup]="form">
    <div>
      <input type="text" name="name" style="display: none">
      <input type="text" name="nombre" style="display: none">
      <input type="text" name="email" style="display: none">
      <input type="text" name="subject" style="display: none">
      <input type="text" name="asunto" style="display: none">
      <input type="text" name="message" style="display: none">
      <input type="text" name="mensaje" style="display: none">

      <div class="container mx-auto py-8 rounded w-3/6 border border-yellow-300 bg-black">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium p-text-title mb-4 text-white ">Tienes algún problema? Contáctanos
          </h1>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="name" class="leading-7 text-sm text-white">Nombre *</label>
                <input type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Nombre"
                  formControlName="name" [pattern]="noNumbersPattern" [formControl]="form['controls'].name"
                  class="required w-full bg-black bg-opacity-50 rounded border border-yellow-300 text-base outline-none text-white py-1 focus:bg-yellow-300 focus:bg-opacity-50 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-4 pt-1 pb-1">

                  <div *ngIf="name.errors.required">
                    El nombre es un campo requerido.
                  </div>
                  <div *ngIf="name.errors.pattern">
                    El nombre no sigue el patrón correcto.
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="email" class="leading-7 text-sm text-white">Email *</label>
                <input type="text" name="email" aria-required="true" aria-invalid="false" placeholder="Email"
                  formControlName="email" [pattern]="emailPattern" minlength="4" [formControl]="form['controls'].email"
                  class="required w-full bg-black bg-opacity-50 rounded border border-yellow-300 text-base outline-none text-white py-1 focus:bg-yellow-300 focus:bg-opacity-50 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-4 pt-1 pb-1">

                  <div *ngIf="email.errors.required">
                    El email es un campo requerido.
                  </div>
                  <div *ngIf="email.errors.minlength">
                    El email tiene que tener un mínimo de 4 carácteres.
                  </div>
                  <div *ngIf="email.errors.pattern">
                    El email no sigue el patrón correcto.(example@gmail.com)
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <label for="message" class="leading-7 text-sm text-white">Mensaje *</label>
                <textarea name="message" aria-required="true" aria-invalid="false" rows="4" placeholder="Consulta"
                  formControlName="message"
                  class="required w-full bg-black bg-opacity-50 rounded border border-yellow-300 text-base outline-none text-white py-1 focus:bg-yellow-300 focus:bg-opacity-50 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
                <div *ngIf="message.invalid && (message.dirty || message.touched)"
                  class="alert alert-danger mt-4 pt-1 pb-1">

                  <div *ngIf="message.errors.required">
                    El mensaje es un campo requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-container">
              <div class="control-policy p-2">
                <div class="accordion">
                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Información básica sobre Portección de Datos
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Responsable: Ismael Flores e Iñigo Martinez</p>
                      <p>Finalidad: Responder las consultas planteadas por el usuario y enviarle la información
                        solicitada.</p>
                      <p>Legitimación: Consentimiento del usuario.</p>
                      <p>Destinatarios: Solo se realizan cesiones si existe una obligación legal.</p>
                      <p>Derechos: Tiene derecho a solicitar el acceso, rectificación, supresión, limitación del
                        tratamiento,
                        oposición o derecho a la portabilidad de sus datos personales, a no ser objeto de una decisión
                        automatizada
                        enviando un correo electrónico a ismaelfloreselfilali@gmail.com. Puede consultar la
                        información
                        adicional en nuestra <a href="/aviso-legal">Política de Privacidad.</a></p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <div class="flex mt-6">
                  <label class="flex items-center">
                    <mat-checkbox color="primary" (change)="checkBoxvalue($event)"></mat-checkbox>
                    <span class="ml-2">Declaro haber entendido la información facilitada y consiento el tratamiento que
                      se efectuará de mis datos de carácter personal.</span>
                  </label>
                </div>
                <div *ngIf="checkBoxValidation == true" class="p-2 alert alert-danger mt-4 w-full">
                  <div>
                    Por favor, marque la casilla de la política de privacidad.
                  </div>
                </div>
                <div *ngIf="form.invalid && form.dirty" class="p-2 alert alert-danger mt-4 w-full">
                  <div>
                    Por favor, rellene los campos obligatorios.
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-form-result hidden"></div>

            <div class="p-2 w-full">
              <button (click)="submitContactForm()"
                class="py-2 px-4 bg-black text-yellow-300 border-yellow-300 hover:bg-yellow-300 hover:text-black border transition ease-in duration-200 text-center w-full text-base font-semibold focus:outline-none rounded">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>