.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "video buttons";
  }
  .video { grid-area: video; }
  .buttons { grid-area: buttons; }