<div id="main_box" class="bg-black-2">
  <div class="grid-container">
    <div class="video">
      <iframe autoplay id="video" class="shadow" width="1280" height="720"
        src="" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="buttons">
      <div class="m-8 text-center p-text">
        <h2 class="font-bold p-text-title text-yellow-300">DESCUBRE NUEVA MÚSICA</h2>
        <p class="text-justify text-white">Explora los distintos videoclips/canciones de los <b>artistas de RhythMode</b> y valora su música. <b>Tu opinión es muy importante!</b></p>
        <p class="text-justify text-white">El funcionamiento es muy simple, a la izquierda iremos mostrandote distintas canciones de nuestros artistas <b>de forma aleatoria,</b> y tu simplemente tienes que disfrutar de la música y decidir <b>si te ha gustado o no.</b></p>
      </div>
      <div>
        <button (click)="changeVideo()"
          class="ml-8 mr-8 p-text bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg mr-2 mt-2 mb-2 py-2 px-4 border duration-200 border-black hover:border-transparent font-bold"
          style="width: -webkit-fill-available;">ME GUSTA</button>
        <button (click)="changeVideo()"
          class="ml-8 mr-8 p-text bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg mr-2 mt-2 mb-2 py-2 px-4 border duration-200 border-black hover:border-transparent font-bold"
          style="width: -webkit-fill-available;">NO ME GUSTA</button>
        <button (click)="changeVideo()"
          class="ml-8 mr-8 p-text bg-yellow-300 hover:bg-black text-black hover:text-yellow-300 rounded shadow hover:shadow-lg mr-2 mt-2 mb-2 py-2 px-4 border duration-200 border-black hover:border-transparent font-bold"
          style="width: -webkit-fill-available;">SALTAR VIDEO</button>
      </div>
    </div>
  </div>
</div>