<div class="sidenav bg-yellow-300 w-1/6 min-h-screen inline-grid">
    <div class="user-data">
        <img src="../../../../assets/images/avatar.png" style="padding: 3rem;">
        <p class="block text-center py-2 p-text font-bold"><u>Ismael Flores</u></p>
    </div>
    <div>
        <div class="caja">
        <a style="cursor: pointer;"class="block ml-4 p-text focus:border-transparent" (click)="loadInfoPanel()">Información</a>
        </div>
        <div class="caja">
        <a href="#" class="block p-text ml-4">Cambiar contraseña</a>
        </div>
        <div class="caja">
            <a href="#" class="block p-text ml-4">Ver mis canciones</a>
        </div>
        <div class="caja">
            <a href="#" class="block p-text ml-4">Subir canción</a>
        </div>
        <div class="caja mt-4">
            <a href="#" class="block p-text ml-4">Cerrar sesión</a>
        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>