
<div style="height: 90vh;" class="mt-32">
<p style="display: inline-block; margin-left: 30rem; " class="p-text-title text-white">Tu registro ha sido completado de forma satisfactoria, inicia sesión.</p>
</div>