<app-landing-video></app-landing-video>
<app-cards></app-cards>
<app-hero-section1 [hero1]="hero1"></app-hero-section1>
<app-scrollable-info></app-scrollable-info>
<app-hero-section1 [hero1]="hero2"></app-hero-section1>
<app-contact-form></app-contact-form>